<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta http-equiv="content-type" content="text/html" charset="utf-8">
    <title><%=title %></title>
    <link type="text/css" rel="stylesheet" href="/style.css">
  </head>
  <body>
    <head>
      <h1><%=title %></h1>
    </head>
    <div role="main">
      <p>
        <table>
          <% for(var key in data) { %>
            <%- include('data_item', {key:key, val:data[key]}) %>
          <% } %>
        </table>
      </p>
        <p><%=content %></p>
        <p><a href="/">Go to index page... &gt;&gt;</a></p>
    </div>
  </body>

</html>
