<!DOCTYPE html>
<html lang="ja">
<head>
    <meta http-equiv="content-type" charset="UTF-8" content="text/html">
    <title><%=title %></title>
    <link type="text/css" rel="stylesheet" href="./style.css">
</head>

<body>
  <head>
    <h1><%=title %></h1>
  </head>
  <div role="main">
    <p><%-content %></p>
    <form action="/" method="post">
      <p><input type="text" name="message">
         <input type="submit" value="送信"></p>
    </form>
  </div>
</body>
</html>
